.todo-group {
  border: 1px solid black;
  margin: 5px 10px 0px;
  display: flex;
  justify-content: end;
}

.todo {
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
  
.todo-done-toggle {
  display: inline-block;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.todo-done-toggle.done {
  border: 1px solid cornflowerblue;
  background-color: cornflowerblue;
}

.todo-done-toggle.ing {
  border: 1px solid black;
}

.todo-contents {
  width: 60%;
}

.todo-subject {
  font-size: 1.5rem;
  font-weight: bold;
}

.todo-description {
  color: darkgray;
}

.todo-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  width: 10%;
  cursor: pointer;  
}

.todo-btn.edit {
  color: white;
  background-color: dodgerblue;
  border: 1px solid dodgerblue;
}

.todo-btn.edit:hover {
  background-color: royalblue;
  border: 1px solid royalblue;
}

.todo-btn.remove {
  color: white;
  background-color: tomato;
  border: 1px solid tomato;
}

.todo-btn.remove:hover {
  background-color: brown;
  border: 1px solid brown;
}